/* body{
    background-color: aqua;
} */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
header{
    background-color: #1A0B2E;
    
}
.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    color: white;
}
.nav-head{
    font-size: 2.5rem;
    font-weight: 900;
}
.wave{
    background: linear-gradient(to right, #6a5af9, #d63384, #f06595);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-text{
    color: white;
    display: flex;
    justify-content: space-around;
    gap: 30px;
    font-size: 1rem;
    font-weight: 500;
}
.main-btn{
    color: white;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    padding: 13px 16px;
    border: none;
    border-radius: 10000px;
    font-size: 1rem;
    font-weight: 600;
}
.hamburger{
    display: none;
}

.hero {
  position: relative;
  width: 100%;
  height: 550px;
  background: #0b0720;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Background */
.hero-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

/* All foreground content */
.hero-content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
}

/* Center icon group */
.hero-center {
  position: relative;
  width: 180px;
  height: 180px;
  margin: 0 auto 24px;
}

.hero-circle {
  width: 100%;
}

.hero-mic {
  position: absolute;
  width: 70px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Text */
.hero-title {
  font-size: 48px;
  margin-bottom: 8px;
}

.hero-sub {
  font-size: 15px;
  opacity: 0.8;
  margin-bottom: 24px;
}

/* Buttons */
.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.btn {
  padding: 10px 20px;
  border-radius: 999px;
  font-size: 14px;
  text-decoration: none;
  color: white;
}

.btn.primary {
    display: flex;
    align-items: center;
    gap: 10px;
  background: linear-gradient(135deg, #F7E93F, #f7008c, #8206ee);
  border: none;
}

.btn.outline {
        display: flex;
    align-items: center;
    gap: 10px;
  background: transparent;
  border: 1px solid #00ff95;
  color: #00ff95;
}









/* responsive for sm device 576 px */
@media screen and (max-width:576px)
{   
    .navigation{
        display: flex;
        justify-content: space-between;
    }
    .nav-text{
        display: none;
    }
    .main-btn{
        display: none;
    }
    .hamburger{
    display: inline;
}
}